{% load staticfiles %}
<head>
  <title>{% block title %}{% endblock %}</title>

  <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
  <script type="text/javascript" src = "{% static 'css/materialize/js/materialize.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize/css/materialize.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> 
</head>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper  green darken-1">
    <a href="#!" class="brand-logo">Almabase</a>
    
  </div>
</nav>

{%block content %}
{% endblock %}





<script type="text/javascript" src="{% static 'js/jqeury.js' %}"></script>"></script>

<script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>

<script type="text/javascript" src = "{% static 'css/materialize/js/materialize.min.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/base.js' %}"></script>